import(stats,Matrix)
importFrom(memisc,getSummary,"%nin%")
importFrom(methods,as)
export(
      mclogit,
      mclogit.fit,
      mmclogit.fitPQL,
      mclogit.control,
      getSummary.mclogit,
      mblogit,
      getSummary.mblogit
)
S3method(print,mclogit)
S3method(vcov,mclogit)
S3method(deviance,mclogit)
S3method(logLik,mclogit)
S3method(summary,mclogit)
S3method(print,summary.mclogit)
S3method(fitted,mclogit)
S3method(predict,mclogit)
S3method(weights,mclogit)
S3method(residuals,mclogit)
S3method(AIC,mclogit)
S3method(BIC,mclogit)
S3method(nobs,mclogit)
S3method(extractAIC,mclogit)
S3method(anova,mclogit)

S3method(print,mblogit)
S3method(summary,mblogit)
S3method(print,summary.mblogit)
S3method(fitted,mblogit)
S3method(predict,mblogit)
S3method(weights,mblogit)

S3method(print,mmclogit)
S3method(summary,mmclogit)
S3method(print,summary.mmclogit)

S3method(print,mmblogit)
S3method(summary,mmblogit)
S3method(print,summary.mmblogit)
